Itau InvestCycle Engine/.vs/Itau InvestCycle Engine.slnx/FileContentIndex/44802674-31d9-419c-a194-e2c3f71b78dc.vsidx
/Itau InvestCycle Engine/.vs
/Itau InvestCycle Engine/ClassLibrary/bin
/Itau InvestCycle Engine/ClassLibrary/obj
/Itau InvestCycle Engine/MarketDataIngestionService/obj
/Itau InvestCycle Engine/MarketDataIngestionService/bin
Itau InvestCycle Engine/cotacoes/COTAHIST_A2025.TXT
